/IdentityServerCenter/.vs
/IdentityServerCenter/IdentityServerCenter/bin/Debug/netcoreapp3.1
/IdentityServerCenter/IdentityServerCenter/obj/Debug/netcoreapp3.1
/IdentityServerCenter/ClientCredentialApi/bin/Debug/netcoreapp3.1
/IdentityServerCenter/ClientCredentialApi/obj/Debug/netcoreapp3.1
/IdentityServerCenter/MicroService.ClientDemo/bin/Debug/netcoreapp3.1
/IdentityServerCenter/MicroService.ClientDemo/obj/Debug/netcoreapp3.1
/IdentityServerCenter/MicroService.ClientWebDemo/obj
/IdentityServerCenter/MicroService.ClientWebDemo/bin/Debug/netcoreapp3.1
/IdentityServerCenter/MicroService.Interface/obj/Debug/netcoreapp3.1
/IdentityServerCenter/MicroService.Model/obj/Debug/netcoreapp3.1
/IdentityServerCenter/MicroService.Service/obj/Debug/netcoreapp3.1
/IdentityServerCenter/MicroService.GateWayDemo/bin
/IdentityServerCenter/MicroService.GateWayDemo/obj
